[submodule "protobufs"]
	path = protobufs
  url = https://github.com/coffee-and-telesense/meshtastic-protobufs.git
  branch = error-rate
[submodule "meshtestic"]
	path = meshtestic
	url = https://github.com/meshtastic/meshTestic
